  .card{
    width: 350px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
  }
  
  .card img{
    padding-top: 20px;
  }
  
  .card h3{
    color: #5CAD4A;
  }
  
  .card h4{
    color: #F0F2EB;
  }