:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fefefe;
  background-color: #00050D;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

#app{
  width: 100%;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  align-items: center;
  background-color: salmon;
}

.navbar{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  justify-content: space-between; 
  align-items: center;
}

.title{
  color: #fcfcfc;
  text-decoration: none;
}


/*body*/

.movie_cards{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin-left: 5%;

}

.cards{
  width: 45%;
  height: auto;
  margin: 0px 6px 0px 6px;
  border-radius: 10px;
}

h4{
  margin-left: 5%;
}

.yellow_titles{
  color: #e8b301 ;
}

.large_movie_cards{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin-left: 5%;
}

.large_cards{
  width: auto;
  height: 250px;
  margin: 0px 6px 0px 6px;
  border-radius: 10px;
}


.texted_movie_cards{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin-left: 5%;
}
